@model IEnumerable<VirtualHIE.Models.Patient>

@{
    ViewBag.Title = "Patient List";
}

<div class="hie-headerWrapper">
    <div class="hie-headerContainer">
        <h2>Patient List</h2>
    </div>
</div>
<div class="hie-containerTop">
    <p>
        @Html.ActionLink("Add Patient", "Create")
    </p>

    @using (Html.BeginForm())
    {
        <p>
            Find by name or AadharID: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
            @Html.ActionLink("Clear", "Index")
          
        </p>
        <p style="margin-left:180px">
            @Html.ActionLink("Advanced Search", "Index")
        </p>
    }

    <table class="table">
        <tr>

            <th>
                @Html.ActionLink("Aadhar ID", "Index", new { sortOrder = ViewBag.AadharIDSortParm })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.ActionLink("DOB", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AadharId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                @if (Session["UserId"] != null && Session["UserId"].ToString().Trim() == "HIE_Admin")
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
              
                    <td>
                        @Html.ActionLink("Raise request", "Create", "PatientDataRequest",new { id = item.Id }, null)
                    </td>
                
            </tr>
        }

    </table>
</div>
